<div class="container">      
    <div class="row">
    <br>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>{{tabla}}</th>
            <th>Conteo</th>
        </tr>
        </thead>
            {{#each polizas }}
          <tr>
            <td>{{_id}}</td> 
            <td>{{conteo}}</td>
          </tr>  
          {{/each}}       
        </table>
       
    </div>
</div>