<div class="container">
    <br />
    <form action="/busqueda/mostrar" method="POST">
        <input type="hidden" name="tipo" value="{{tipo}}"/>
        <div class="form-group">
            <label for="idfactura">Seleccione el tipo de cuenta a buscar:</label>
            <select class="custom-select mr-sm-2" id="tipo" name="elem">
        <option value="Ingreso" selected>Ingreso</option>
        <option value="Egreso">Egreso</option>
        <option value="Traslado">Traslado</option>
        <option value="Recepcion de pagos">Recepcion de pagos</option>
        <option value="Nomina">Nomina</option>
        <option value="Retenciones e Información de Pagos">Retenciones e Información de Pagos</option>
      </select>
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>
    </form>
</div>